html, body, #map-canvas {
               
    height: 100%;
    margin: 0px;
    padding: 0px
}

.filter h5{
    margin:0;
}
.filter {
    position: fixed;
    top: 50px;
    right: 5px;
    width : 200px;
    height : 500px;
    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid grey;
    padding: 10px ;
    border-radius: 5px
}
